rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ===============================================================
    // Helper Functions
    // ===============================================================
    function isAuthenticated() {
       return request.auth != null;
    }
    function isOwner(userId) {
       return isAuthenticated() && request.auth.uid == userId;
    }

    // ===============================================================
    // Rules
    // ===============================================================
    match /artifacts/{appId}/users/{userId}/settings/history {
      allow read: if isOwner(userId);
      allow create: if isOwner(userId);
      allow update: if isOwner(userId);
      allow delete: if isOwner(userId);
    }
    
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
